html {
  font-family: "Ubuntu Condensed", sans-serif;
  background-image: url("../images/starfield.png");
  background-repeat: repeat, repeat;
}

h1, p {
  color: #fff;
  text-shadow: 0 0 8px rgba(255, 255, 255, .7);
}

section {
  transform: translateY(17em);
}

.btn-ghost {
  text-decoration: none;
  color: #b4fff4;
  border: 3px solid #90ccc3;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: position .15s linear;
}

.btn-ghost:hover {
  color: #b4fff4;
  background-color: rgba(180, 255, 244, .2);
  border-color: #90ccc3;
}

.btn-ghost:focus {
  color: #b4fff4;
  background-color: rgba(180, 255, 244, .2);
  border-color: #90ccc3;
}

.btn-ghost:active {
  position: relative;
  top: 10px;
  color: #b4fff4;
  background-color: rgba(180, 255, 244, .2);
  border-color: #90ccc3;
}
